* {
  box-sizing: border-box;
}

body {
  margin: 25px;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.header {
  align-items: center;
  font-size: 24px;
  padding: 2px;
}

#contact {
  font-size: medium;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  width: 100%;
  
}

#navigation {
  display: flex;
  width: 75%;
  align-items: align-right;
  justify-content: space-evenly;
  cursor: pointer;
  text-decoration: underline;
}

.icons img {
  max-width: 200px;
  max-height: 225px;
}

#about {
  display: flex;
}

.about-me {
  padding: 10px;
  border-right: 2px solid black;
}


#about p {
  width: 75%;
  align-items: align-right;
  padding-left: 20px;
}

#work {
  display: flex;
}

.work {
  padding: 35px;
  border-right: 2px solid black;
}

#work p {
  width: 75%;
  align-items: align-right;
  padding-left: 20px;
}

#work p, h3 {
  width: 75%;
  align-items: align-right;
  padding-left: 20px;
}

#experience {
  margin: 0px 5%;
  display: grid;
  width: 75%;
  align-items: align-right;
  padding-left: 20px;
  cursor: pointer;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "work1 work2"
  "work3 work4"
}

#work1 {
  grid-area: work1;
  background-image: url("../images/02-portfolio-1.jpg");
}

#work2 {
  grid-area: work2;
  background-image: url("../images/02-portfolio-2.jpg");
}

#work3 {
  grid-area: work3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#work4 {
  grid-area: work4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#contact {
  display: flex;  
}

.contact-me {
  padding: 5px;
  border-right: 2px solid black;

}

#contact-details {
  margin: 0px 5%;
  display: grid;
  cursor: pointer;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-rows: 2px 2px 2px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "tel e-mail linked-in"
}

#tel {
  grid-area: tel;
}

#e-mail {
  grid-area: e-mail;
}

#linked-in {
  grid-area: linked-in;
}