* {
  box-sizing: border-box;
}

body {
  margin: 25px;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.header {
  align-items: center;
  font-size: 24px;
  padding: 2px;
}

#contact {
  font-size: medium;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  width: 100%;
  
}

#navigation {
  display: flex;
  width: 75%;
  align-items: align-right;
  justify-content: space-evenly;
  cursor: pointer;
  text-decoration: underline;
}

.icons img {
  max-width: 200px;
  max-height: 225px;
}